/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* --------------------
-Common Useable Styles-
--------------------- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.half-width{
    width: 50%;
}
.section-title{
    font-weight: 600;
    font-size: 35px;
    line-height: 70px;
    color: #3A3A3A;
    text-align: center;
    margin-top: 70px;
    text-align: center;
}

button{
    width: 196px;
    height: 44px;
    background: #E02C6D;
    border: 0;
    border-radius: 41px;
    font-weight: bold;
    font-size: 16px;
    color: #ffff;
}
/* --------------------
-Header Section Styles-
--------------------- */
/* header{
    width: 1000px;
} */
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    /* margin-right: 20px; */
}
nav .Header-Name{
    font-weight: bold;
    font-size: 24px;
    color: #3A3A3A;
    margin-left: 85px;
   
}
nav .nav-options a{
text-decoration: none;
color: #3A3A3A;
font-weight: 600;
font-size: 16px;
margin-right: 34px;
}

/* Start your journey section styel */
.container{
    display: flex;
    margin-left: 80px;
    margin-right: 40px;
    margin-bottom: 100px;
}
.container-details{
    margin-top: 140px;
}
.container-details h1{
    font-weight: bold;
    font-size: 42px;
    color: #3A3A3A;
}
.container-details p{
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
}

.container-image{
    width: 30%;
    height: 300px;
    margin-top: 80px;
    margin-left: 50px;
    transition: transform 3s ease;
}
.container-image:hover{
    transform:scale(.5, .5)
}

/* Popular collections styles */
.all-collection{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.collection{
    width: 329px;
    height: 476px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #888888;
}
.product-image{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}
.product-name{
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    margin-bottom: 6px;
}
.product-price{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.87);
}
.fa-star{
    width: 16px;
    height: 16px;
}
.fa-star.filled, .fa-star-half-alt{
    color: #FFC014;
}
.ratings span{
    font-size: 14px;
    color: #5E6366;
    margin-left: 8px;
}
.product-info{
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
    color: #787885;
}
.See-more{
    /* position: absolute;
    top: 2260px;
    left: 950px; */
    padding-top: 500px;
    padding-left: 950px;
    color: rgba(224, 44, 109, 0.87);
    font-weight: bold;
    font-size: 16px;
}
/* Contact Us section style */

.Reviews{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    margin: 60px;
    text-align: center;
}
.review{
    height: 255px;
    width: 450px;
    
}
.customer-photo{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-bottom: -30px;
  }
.Customer-name{
    display: inline-block;
    color: #3A3A3A;
    font-weight: 600;
}
.customer-review{
    color: #3A3A3A;
    margin: 15px 50px 50px 75px;
}
#button{
    margin-left: 75%;
}
/* ----------Footer Section--------- */
footer{
    height: 239px;
    width: auto;
    background-color: #0A0826;
    color: white;
    text-align: center;
    position: relative;
}
.footer-container h3{
padding-top: 50px;
}
footer .icon{
    height: 30px;
    width: 30px;
    padding-top: 5px;
    margin: 5px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.253);
    display: inline-block;
}

/* ---Creating Responsive ----*/
/* For Mobile Device */
@media screen and (max-width:480px){
    header{
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
    nav{
        display: block;
    }
    .nav-options{
        display: none;
    }
    .Start-Your-Journey{
        width: 100%;
    }
    .container{
        display: block;
        text-align: center;
    }
    .section-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 70px;
        color: #3A3A3A;
        text-align: center;
        margin-top: 70px;
    }
    button{
        width: 190px;
        height: 41px;
        background: #E02C6D;
        border: 0;
        border-radius: 41px;
        font-weight: bold;
        font-size: 14px;
        color: #ffff;
        margin-left: 40%;
    }
    .Reviews #button{
        display: block;
        margin-top: 0;
        margin-left: 40px;
    }
    .container-details h1{
        width: 300px;
        font-weight: bold;
        font-size: 28px;
        color: #3A3A3A;
        text-align: center;
    }
    .container-details p{
        width: 300px;
        font-weight: 500;
        font-size: 14px;
        color: #3A3A3A;
        text-align: center;
    }
    
    .container-image img{
        width: 257px;;
        height: 257px;
        margin-top: 20px;
        margin-left: -60px;
        transition: transform 3s ease;
    }
    .container button{
        width: 194px;
        height: 44px;
    }
    .all-collection{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 15px;
        grid-column-gap: 0;
    }
    .See-more{
        padding-left: 250px;
    }
    .Reviews{
        display: block;
    }
    .review{
        height: 355px;
        width: 270px;
        
    }
    .footer{
        width: 100%;
    }

}

/* For Tablet Device */
@media only screen and (min-width:481px) and (max-width:768px) {
    header{
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
    nav{
        display: block;
    }
    .nav-options{
        display: none;
    }
    .Start-Your-Journey{
        width: 100%;
    }
    .container{
        display: block;
        text-align: center;
        margin-left: 30%;
    }
    .section-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 70px;
        color: #3A3A3A;
        text-align: center;
        margin-top: 70px;
    }
    button{
        width: 190px;
        height: 41px;
        background: #E02C6D;
        border: 0;
        border-radius: 41px;
        font-weight: bold;
        font-size: 14px;
        color: #ffff;
        margin-left: 40%;
    }
    #button{
        display: block;
        margin-top: 0;
        margin-left: 100px;
    }
    .container-details h1{
        width: 300px;
        font-weight: bold;
        font-size: 28px;
        color: #3A3A3A;
        text-align: center;
    }
    .container-details p{
        width: 300px;
        font-weight: 500;
        font-size: 14px;
        color: #3A3A3A;
        text-align: center;
    }
    
    .container-image img{
        width: 257px;;
        height: 257px;
        margin-top: 20px;
        margin-left: -60px;
        transition: transform 3s ease;
    }
    .container button{
        width: 194px;
        height: 44px;
    }
    .all-collection{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 15px;
    }
    .collection{
        width: 270px;
        height: 476px;
    }
    .product-image img{
        width: 250px;
        height: 256px;
        border-radius: 5px;
    }
    .See-more{
        padding-left: 0px;
    }
    /* .Reviews{
        display: block;
    } */
    .review{
        height: 355px;
        width: 240px;
        margin-left: 0px;
        
    }
    .customer-review{
        font-size: 14px;
    }
    .footer{
        width: 100%;
    }

}