/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* --------------------
-Common Useable Styles-
--------------------- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.half-width{
    width: 50%;
}
/* --------------------
-Header Section Styles-
--------------------- */
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    /* margin-right: 20px; */
}
nav .Header-Name{
    font-weight: bold;
    font-size: 24px;
    color: #3A3A3A;
    margin-left: 85px;
   
}
nav .nav-options a{
text-decoration: none;
color: #3A3A3A;
font-weight: 600;
font-size: 16px;
margin-right: 34px;
}

/* Start your journey section styel */
.container{
    display: flex;
    margin-left: 80px;
    margin-right: 40px;
    margin-bottom: 100px;
}
.container-details{
    margin-top: 140px;
}
.container-details h1{
    font-weight: bold;
    font-size: 42px;
    color: #3A3A3A;
}
.container-details p{
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
}

.container-details button{
    width: 196px;
    height: 44px;
    background: #E02C6D;
    border: 0;
    border-radius: 41px;
    font-weight: bold;
    font-size: 16px;
    color: #ffff;
}
.container-image{
    width: 30%;
    height: 300px;
    margin-top: 80px;
    margin-left: 50px;
    transition: transform 3s ease;
}
.container-image:hover{
    transform:scale(.5, .5)
}

/* Popular collections styles */
.all-collection{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.popular-collection h2{
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
    color: #3A3A3A;
    text-align: center;
}
.collection{
    width: 329px;
    height: 476px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #888888;
}
.product-image{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}
.product-name{
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    margin-bottom: 6px;
}
.product-price{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.87);
}
.fa-star{
    width: 16px;
    height: 16px;
}
.fa-star.filled, .fa-star-half-alt{
    color: #FFC014;
}
.ratings span{
    font-size: 14px;
    color: #5E6366;
    margin-left: 8px;
}
.product-info{
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
    color: #787885;
}
.See-more{
    position: absolute;
    top: 2260px;
    left: 950px;
    color: rgba(224, 44, 109, 0.87);
    font-weight: bold;
    font-size: 16px;
}



